.color-pallete{
    color : #b6453d;
    color : #ed7d2b;
    color : #fa9746;
    color : #ffb93f;
    color : #ffeac5;
    
    color : #233863;
    color : #2b468b;
    color : #88b8f6;
    color : #c9daf4;
    color : #dfedfa;

    color : #eaf3fa;







    

}